flight_tickets:
  outputs:
    dev:
      dbname: finops
      host: localhost
      pass: p@55w0rD
      port: 5432
      schema: flights
      threads: 5
      type: postgres
      user: fin_ops_user
  target: dev